[user]
    name = Alexander Emanuelsson
    email = alexander.emanuelsson94@gmail.com
[core]
    editor = vim # User vim as default editor
    pager = less # Use less when viewing diff/ log
    autocrlf = input
    whitespace = fix,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore_global
[credential]
    helper = store # Less secure...
[web]
    browser = firefox # web browser
[gui]
    encoding = utf-8
[color]
    ui = auto
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    plain = white dim
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[diff]
    tool = vimdiff
[push]
    default = current # Push current branch to update a branch with the same name on the receiving end
[alias]
    aliases = !git config -l | grep alias | cut -c 7- # Print all aliases
    ##########
    a = add
    aa = add --all
    ##########
    b = branch
    bd = branch -d # Delete merged branch
    bD = branch -D # Force delete branch
    ##########
    c = commit
    ca = commit -a
    cm = commit -m
    cma = commit -ma
    cam = commit --amend
    camn = commit --amend --no-edit
    ##########
    co = checkout
    cob = checkout -b
    com = checkout master
    cor = checkout .
    ##########
    cfg = config --list
    ##########
    cl = clone
    cls = clone --recurse-submodules -j8 # Clone all submodules as well
    ##########
    d = diff
    dc = diff -C --color-words
    dt = difftool
    ##########
    f = fetch --all
    ##########
    lg = log --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
    lgt = log --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cD) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
    lgg = lg --graph
    lgtg = lgt --graph
    ##########
    m = merge
    ##########
    pl = pull
    plom = pull origin/master
    ##########
    ps = push
    psf = push --force-with-lease
    ##########
    rb = rebase
    rbom = rebase origin/master
    ##########
    remotes = remote -v
    ##########
    s = status
    st = stash
    stp = stash pop
    stl = stash list
    ##########
    who = shortlog -s -- # Commits per contributor
    whois = !sh -c 'git log -i -1 --author=\"$1\" --pretty=\"format:%an <%ae>\"' - # Who did latest commit
    ##########
    camnpsf = camn && git psf # amend and force push
    cln = clean -xdff # Cleans the repository
    rsth = reset --hard # Reset the staging area and the working directory to match the most recent commit.
    undo = reset --soft HEAD^ # Undo the latest commit but keep the changes
    unstage = reset HEAD # Remove added files from staging area


# Other git-related tools

[github]
    user = alexemanuelol # GitHub username
    token = TOKEN # GitHub Token


# Includes (Placed at bottom to overwrite)

[include]
    path = ~/.gitconfig_local