#!/usr/bin/env bash

# Easier navigation
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias g="git"
alias v="vim"
alias gv="gvim"
alias p="python3"
alias l="ls -lahF"

# Grep recursive, line number and no binaries
alias gr="grep -rnI"

# Search through command history
alias hs="history | grep"

# 3M
alias ngt="nuget install packages.config -OutputDirectory packages -ExcludeVersion"
alias r="rake"
