#!/bin/sh

alias ls='LC_COLLATE=C ls --color=auto --group-directories-first'
alias ll='LC_COLLATE=C ls -lah --color=auto --group-directories-first'

alias eza='eza --icons=auto --color=auto --group-directories-first'
alias ee='eza -lahB --git --git-repos --icons=auto --color=auto --group-directories-first'

alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias v="vim"
alias vi="vim"
alias g="git"

# Grep recursive, line number and no binaries
alias gr="grep -rnI"

# Search through command history
alias hs="history | grep"

# Work
alias nug="nuget install packages.config -OutputDirectory packages -ExcludeVersion"
alias r="rake"
