@import 'gruvbox-dark-mode-colors.css';

* {
    border: none;
    border-radius: 2px;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: @gruvbox_bg0;
    border: 2px solid @gruvbox_bg1;
}

tooltip {
    background-color: @gruvbox_bg1;
    border: 2px solid @gruvbox_bg2;
    padding: 6px 10px;
    border-radius: 8px;
}

tooltip label {
    margin: 4px;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    color: @gruvbox_fg1;
}

#custom-launcher {
    margin: 0 10px 0 10px;
    color: @gruvbox_fg1;
}

#custom-power {
    margin: 0 18px 0 6px;
    color: @gruvbox_fg1;
}
#custom-launcher:hover,
#custom-power:hover {
    color: #458588
}

#workspaces {
    background-color: @gruvbox_bg1;
    border: 2px solid @gruvbox_bg2;
    margin: 6px 6px 6px 6px;
}

#workspaces button {
    all: initial;
    min-width: 15px;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: @gruvbox_fg1;
}

#workspaces button.active {
    background: @gruvbox_purple1;
    font-weight: bold;
    color: @gruvbox_bg0;
}

#workspaces button.urgent {
    background-color: @gruvbox_red1;
    color: @gruvbox_bg0;
}

#workspaces button:hover {
    background: @gruvbox_fg1;
    color: @gruvbox_bg0;
}

#window {
    margin: 0 0 0 6px;
    color: @gruvbox_fg2;
}

#clock {
    background-color: @gruvbox_bg1;
    border: 2px solid @gruvbox_bg2;
    margin: 6px 6px 6px 6px;
    padding: 2px 8px;
    color: @gruvbox_fg1;
}

#custom-system,
#cpu,
#temperature,
#disk,
#memory {
    background-color: @gruvbox_fg1;
    border: 2px solid @gruvbox_fg3;
    margin: 6px 6px 6px 0px;
    padding: 0 10px 0 8px;
    color: @gruvbox_bg0;
}

#temperature.critical {
    background-color: @gruvbox_red1;
}

#tray,
#backlight,
#pulseaudio,
#network,
#battery,
#custom-notifications {
    background-color: @gruvbox_fg1;
    border: 2px solid @gruvbox_fg3;
    margin: 6px 6px 6px 0px;
    padding: 0 8px 0 8px;
    color: @gruvbox_bg0;
}

#pulseaudio.input.source-muted,
#pulseaudio.output.muted {
    background-color: @gruvbox_red1;
}

#pulseaudio.input.source-muted {
    padding: 0 12px 0 4px;
}

@keyframes battery_blink_warning {
    to {
        background-color: @gruvbox_yellow1;
        color: @gruvbox_bg0;
    }
}

@keyframes battery_blink_critical {
    to {
        background-color: @gruvbox_red1;
        color: @gruvbox_bg0;
    }
}

#battery.warning:not(.charging) {
 animation-name: battery_blink_warning;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

#battery.critical:not(.charging) {
 animation-name: battery_blink_critical;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

#custom-system:hover,
#cpu:hover,
#temperature:hover,
#temperature.critical:hover,
#disk:hover,
#memory:hover,
#tray:hover,
#backlight:hover,
#pulseaudio:hover,
#pulseaudio.input.source-muted:hover,
#pulseaudio.output.muted:hover,
#network:hover,
#battery:hover,
#battery.warning:hover,
#battery.warning:not(.charging):hover,
#battery.critical:hover,
#battery.critical:not(.charging):hover,
#custom-notifications:hover {
    background-color: @gruvbox_bg1;
    border: 2px solid @gruvbox_bg2;
    color: @gruvbox_fg1;
}

